div.noscript {
  margin-top:3em;
}

div.noscript div {
  display:inline-block;
  padding:1em;
  font-size:x-large;
  font-style:normal;
  border-color: darkred;
}

#ttt-body {
  display:none;
  width: calc(min(800px,90%));
  min-height:100px;
  border:solid 1px black;
  margin: 2em auto 0 auto;
  background: white;
}

#ttt-body #admin-tabs div.tabs {
  background:#ccc;
  padding: 5px 0.5em;
  border-bottom:solid 1px #888;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#ttt-body #admin-tabs div.tabs button {
  margin:0 2px;
  background-color:#ccc;
  border: solid 1px #444;
  border-radius:5px;
  color:#444;
  box-shadow:none;
}

#ttt-body #admin-tabs div.tabs button:disabled {
  background-color:white;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: black;
}


#ttt-body #admin-tabs div.tabs button:hover:not([disabled]) {
  background-color:#c8c8f4;
  box-shadow:0 2px 2px 3px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color:black;
}

#ttt-body #admin-tabs div.tabs button.current {
  background:green;
}

#ttt-body div.body {
  padding:0.5em;
  background:#eee;
}

#ttt-body div.body * {
  background:inherit;
}

#ttt-body div.body form {
  background:inherit;
}

#ttt-body div.body form div.section-header {
  margin:1em 0 0.5em 0;
  font-size:1.2em;
}

#ttt-body div.body form div.section-header:first-of-type {
  margin-top:0;
}

#ttt-body div.body form div.section-header div {
  font-weight:bold;
}

#ttt-body div.body form table {
  margin:0.25em 1em 0 1em;
  width:calc(100% - 2em);
  table-layout:auto;
}

#ttt-body div.body form table td {
  padding-top:1em;
}

#ttt-body div.body form table tr.info td {
  padding-top:0;
}

#ttt-body div.body form table td.input {
  width:100%;
}

#ttt-body div.body form table td.label {
  padding-right:0.5em;
  font-weight:bold;
  white-space:nowrap;
}

#ttt-body div.body form table td input {
  width:85%;
  min-width:20em;
  background:white;
  border-color:#bbb;
  padding-left:0.5em;
  padding-right:0.5em;
}

#ttt-body div.body form table td.info div {
  font-size:0.85em;
  margin-left:2em;
}

#ttt-body div.body form table td.info div:first-child {
  margin-left:1em;
}

#ttt-body div.body form div.button-bar {
  display:flex;
  flex-direction:row-reverse;
  margin: 0.5em;
}

#ttt-body div.body form div.button-bar input.submit {
  background:darkblue;
  color:white;
}

#ttt-body div.body form div.button-bar input.submit:disabled {
  background:#888;
  color:#444;
}



