div.noscript {
  margin-top:3em;
}

div.noscript div {
  display:inline-block;
  padding:1em;
  font-size:x-large;
  font-style:normal;
  border-color: darkred;
}

#ttt-body {
  display:none;
  width: calc(min(800px,90%));
  min-height:100px;
  border:solid 1px black;
  margin: 2em auto 0 auto;
  background: white;
}

#ttt-body #admin-tabs div.tabs {
  background:#ccc;
  padding: 5px 0.5em;
  border-bottom:solid 1px #888;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#ttt-body #admin-tabs div.tabs button {
  margin:0 2px;
}

#ttt-body #admin-tabs div.tabs button.current {
  background:green;
}


#ttt-body div.body {
  padding:0.5em;
  background:white;
}
