div.noscript {
  margin-top:3em;
}

div.noscript div {
  display:inline-block;
  padding:1em;
  font-size:x-large;
  font-style:normal;
  border-color: darkred;
}

#ttt-body {
  display:none;
  width: calc(min(1200px,90%));
  min-height:70px;
  border:solid 1px black;
  margin: 2em auto 0 auto;
  background: white;
}


/***************************************
 * Admin lock
 ***************************************/

#ttt-status .admin-lock {
  background:inherit;
}

/***************************************
 * Admin Dashboard tabs
 ***************************************/

#ttt-body #admin-tabs div.tabs {
  background:#ccc;
  padding: 5px 0.5em;
  border-bottom:solid 1px #888;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display:flex;
  align-items:center;
}

#ttt-body #admin-tabs div.tabs button {
  margin:0 2px;
  background-color:#ccc;
  border: solid 1px #444;
  border-radius:5px;
  color:#444;
  box-shadow:none;
}

#ttt-body #admin-tabs div.tabs button:disabled {
  background-color:white;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: black;
}


#ttt-body #admin-tabs div.tabs button:hover:not([disabled]) {
  background-color:#c8c8f4;
  box-shadow:0 2px 2px 3px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color:black;
}

#ttt-body #admin-tabs div.tabs a {
  background:inherit;
  margin-left:auto;
  color:#008;
  font-size:90%;
  font-weight:700;
}

#ttt-body #admin-tabs div.tabs a.logout + a.admin {
  margin-left:0.5em;
}

#ttt-body #admin-tabs div.tabs a.logout + a.admin::before {
  content: ' | '
}

#ttt-body #admin-tabs div.tabs a:hover {
  color:#00c;
  text-shadow:1px 1px 5px #888;
}

/***************************************
 * "Unsaved Changes" modal dialog box
 ***************************************/

#ttt-body #tab-switch-modal {
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  overflow:auto;
}

#ttt-body #tab-switch-content {
  background-color:#ddd;
  margin:15% auto;
  padding:20px;
  border:1px solid black;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width:fit-content;
  text-align:left;
}

#ttt-body #tab-switch-content img {
  width:32px;
  height:32px;
}
#ttt-body #tab-switch-content .text-box {
  display:inline-block;
  border-bottom:solid 1px black;
  padding:0 0.5em 0.5em;
  margin-bottom:1em;
}

#ttt-body #tab-switch-content .text-box p:first-child {
  margin-left:0em;
  font-weight:700;
  font-size:100%;
}

#ttt-body #tab-switch-content .text-box p {
  margin-left:1em;
  font-style:italic;
  font-size:90%;
}

#ttt-body #tab-switch-content .tab-switch-buttons {
  display:flex;
  justify-content:center;
  gap:20px;
}

#ttt-body #tab-switch-content * {
  background-color:inherit;
}
  
#ttt-body #tab-switch-content p {
  margin:0;
  padding:0;
}

#ttt-body #tab-switch-content button {
  padding:0.25em 0.5em;
}
#ttt-body #tab-switch-content button.cancel {
  font-weight:700;
}


/***************************************
 * Generic form styling
 ***************************************/

#ttt-body div.body {
  padding:0.5em;
  background:#eee;
}

#ttt-body div.body * {
  background:inherit;
}

#ttt-body div.body form {
  background:inherit;
}

#ttt-body div.body form div.section-header {
  margin:1em 0 0.5em 0;
  font-size:1.2em;
}

#ttt-body div.body form div.section-header:first-of-type {
  margin-top:0;
}

#ttt-body div.body form div.section-header div {
  font-weight:bold;
}

/***************************************
 * Button bar at bottom of form
 ***************************************/

#ttt-body div.body form div.submit-bar {
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  margin: 0.5em;
}

#ttt-body div.body form div.submit-bar input.submit {
  background:darkblue;
  color:white;
  transition: all .25s;
}

#ttt-body div.body form div.submit-bar input.submit:disabled {
  background:#bbb;
  color:#444;
}

#ttt-body div.body form div.submit-bar input.revert {
  background:#840;
  color:white;
  margin-right:0.5em;
  transition: all .25s;
}

#ttt-body div.body form div.submit-bar input.revert:disabled {
  background:#bbb;
  color:#444;
}

#ttt-body div.body form div.submit-bar label.preview-js {
  margin-right:auto;
  margin-left:3px;
  font-style:italic;
  font-size:90%;
}

#ttt-body div.body form div.submit-bar label.preview-js.hidden {
  visibility:hidden;
}

#ttt-body div.body form div.submit-bar input.preview,
#ttt-body div.body form div.submit-bar input.printable {
  background:#048;
  color:white;
  margin-right:0.5em;
  transition: all .25s;
}

#ttt-body div.body form div.submit-bar input.preview:disabled {
  background:#bbb;
  color:#444;
}

