
h1, h2, h3, h4, h5, h6 { /*font-family: ttt_sans_serif;*/ }
h1 { /*font-size:16pt;*/ font-weight:bold; }
h2 { /*font-size:14pt;*/ font-weight:bold; }
h3 { /*font-size:12pt;*/ font-weight:bold; }
h4 { /*font-size:12pt;*/ font-weight:normal; }
h5 { /*font-size:10pt;*/ font-weight:normal; }
h6 { /*font-size:10pt;*/ font-weight:normal; }

table {
  page-break-inside:avoid;
  /*font-family: ttt_sans_serif;*/ 
  /*font-size:10pt;*/
}

.indent-1 {
  padding-left:0.125in;
}

.indent-2 {
  padding-left:0.25in;
}

p {
  margin:0;
  padding:0;
  /*font-size:10pt;*/
/*  line-height:inherit; */
}

.ttt-header {
  border-bottom:solid 0.25pt black;
  width:100%;
}

.ttt-header td {
  vertical-align: middle;
}

.ttt-logo {
  height: 25pt;
}
.ttt-header .logo {
  width:25pt;
}
.ttt-header .title {
  text-align:left;
  margin-left:3mm;
}

.ttt-footer {
  text-align:right;
  /*font-size:7pt;*/
}
.ttt-footer.page-1 {
  visibility:hidden;
}

span.ttt-title {
  font-family: ttt_serif;
  font-size: 16pt;
}

.section { 
  margin-left:0;
}

.section.label {
  margin-left:0;
}

.section.label td {
  /*font-size: 12pt;*/
  font-weight:bold;
  padding-right:5mm;
  border-bottom: solid 0.25pt #888;
}

.section.intro td {
  /*font-size:10pt;*/
}

.section.feedback {
  margin-top:0.25in;
}

table.box {
  width:100%;
}

td.boxed {
  height:0.5in;
  border:solid 0.25pt black;
}

.info, .question, .select {
  margin-top: 0.125in;
}

img.checkbox-icon {
  width:4mm;
  height:4mm;
}

table.checkbox td {
  vertical-align:middle;
}

table.checkbox td.icon {
  width:4mm;
}

td.wording {
  font-weight:bold;
}

.qualifier.indent-0 {
  padding-left:.125in;
}

.qualifier.indent-1 {
  padding-left:.25in;
}

.qualifier.indent-2 {
  padding-left:.375in;
}

.qualifier.textarea {
  padding-right:0.5in;
}

table.select {
  width:100%;
}

table.select td.wording {
  vertical-align:top;
  padding:2mm 2mm;
  white-space:nowrap;
  text-align: right;
}

table.select td.options {
  vertical-align:top;
  padding:0;
  width:100%;
  text-align: left;
}
