:root {
  --serif-font:noto_serif_display, Serif;
  --sans-serif-font: quicksand, Sans-serif;
  --monospace-font: courier_prime, Monospace;
}

h1, h2, h3, h4, h5, h6 { font-family: quicksand; }
h1 { font-size:16pt; font-weight:bold; }
h2 { font-size:14pt; font-weight:bold; }
h3 { font-size:12pt; font-weight:bold; }
h4 { font-size:12pt; font-weight:normal; }
h5 { font-size:10pt; font-weight:normal; }
h6 { font-size:10pt; font-weight:normal; }

div {
  page-break-inside:avoid;
  font-family: quicksand; 
}

table.ttt-header {
  border-bottom:solid 1px black;
  width:100%;
}

table.ttt-header td {
  vertical-align: middle;
}

table.ttt-header td.logo {
  width:30pt;
}
table.ttt-header td.title {
  text-align:left;
  margin-left:3mm;
}

div.ttt-footer {
  text-align:right;
  font-size:7pt;
}

div.ttt-footer.page-1 {
  visibility:hidden;
}

img.ttt-logo {
  height: 30pt;
}

span.ttt-title {
  font-size: 16pt;
}

div.section { 
  margin-left:0.15in;
}

div.section.label {
  margin-left:0;
}

div.section.label td {
  font-size: 12pt;
  font-weight:bold;
  padding-right:5mm;
  border-bottom: solid 1px #888;
}

div.section.intro td {
  font-size:10pt;
}

div.section.feedback {
  margin-top:0.25in;
}

div.textarea {
  height:1in;
  border:solid 1px black;
}
