#ttt-body {
  margin: 1em clamp(3px,1vw,2em) 0;
}

#ttt-footer {
  height:2em;
}

#ttt-body div.notebook .tab-cb {
  display:none;
}

#ttt-body div.notebook .tabs {
  border-bottom:solid black 1px;
  display:flex;
  flex-wrap:wrap;
}

#ttt-body div.notebook label.tab {
  font-weight:700;
  font-size:1.1em;
  padding:0 1em;
  border: solid gray 1px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  margin:1px 2px -1px 0;
  background:#ddd;
}

#ttt-body table td.name {
  padding-right:8px;
  text-align:right;
}

#ttt-body div.notebook .panel {
  display:none;
}

#ttt-body div.info.text div.label {
  font-weight:normal;
  font-style:italic;
  font-size:1.1em;
}

#ttt-body div.question {
  margin:1em;
}

#ttt-body div.question.indent {
  margin-left:2em;
}

#ttt-body div.question div.label{
  font-weight:bold;
  font-size:1.2em;
}

#ttt-body div.question div.none {
  margin-left:1em;
  font-style:italic;
  font-size:90%;
}

#ttt-body div.question div.responses {
  margin-left:1em;
  font-size:110%;
}

#ttt-body div.question div.responses div.name {
  font-size:100%;
}

#ttt-body div.question div.responses td.name {
  font-weight:700;
}

#ttt-body div.question div.responses .name.qual::after {
  content:'*';
  padding-left:1px;
}

#ttt-body div.question div.responses.bool,
#ttt-body div.question div.responses.select
{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

#ttt-body div.question div.responses.bool div.name,
#ttt-body div.question div.responses.select div.name
{
  white-space:nowrap;
  padding-right:2em;
}

#ttt-body div.question div.responses.select.table {
  display:grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
#ttt-body div.question div.responses.select.table div.name {
  font-size:100%;
  padding-right:8px;
  justify-self:end;
}
#ttt-body div.question div.responses.select.table div.other {
  font-size:100%;
  justify-self:start;
}
#ttt-body div.question div.responses.select.table div.name::after {
  content: ':';
}

#ttt-body div.question.select .option {
  margin-left:1em;
  margin-bottom:0.5em;
}

#ttt-body div.question.select .option-label {
  font-weight:700;
  font-size:110%;
}

#ttt-body div.question div.qualifiers {
  margin-top:0.5em;
  margin-left:1em;
}

#ttt-body div.question div.qualifiers div.label {
  font-size:1em;
}

#ttt-body div.question div.qualifiers table {
  border-spacing:0;
  border-top:solid 1px gray;
  border-bottom:solid 1px gray;
}
#ttt-body div.question div.qualifiers table td {
  line-height:1.2;
}

#ttt-body div.question div.qualifiers table td.name {
  font-weight:700;
}

#ttt-body div.feedback .label {
  font-weight:bold;
  font-size:1.2em;
}

#ttt-body div.feedback table {
  margin-left:2em;
}

#ttt-body div.feedback td.name {
  font-weight:700;
  text-align:end;
}

#ttt-body div.feedback td.name::after {
  padding: 0 5px;
}


