table {
  border-collapse: collapse;
  font-size:80%;
}

td, th {
  border: 1px solid black;
  padding: 4px;
  vertical-align: top;
}

table {
  border: 2px solid black;
  padding:8px;
}

th {
  font-weight:bold;
  border-bottom: 2px solid black;
}

tr.pass td {
  background:lightgreen;
}

tr.fail td {
  background:lightpink; 
}

tr.expected_fail {
  background: lightyellow;
}

table.jsobj {
  margin:3px;
  border:none;
}
table.jsobj td, table.jsob th {
  border:none;
  padding:0 3px;
}

table.jsobj td.key {
  font-weight:bold;
  text-align:right;
}
table.jsobj td.key::after {
  content:":";
}