*~
.*.swp

*_hold.php

.htaccess*

admin/settings.json

tlc-ttsurvey.ini
tlc-ttsurvey.log
error_log

sql/*.sql
!sql/configure_schema.sql
!sql/backup_data.sql
!sql/restore_data.sql

.vscode/*
vendor


