*~
.*.swp

*_hold.php

.htaccess*

admin/settings.json

design_notes

tlc-ttsurvey.ini
tlc-ttsurvey.log
error_log

sql/*.sql
sql/live_backups
!sql/configure_schema.sql
!sql/backup_data.sql
!sql/restore_data.sql
!sql/drop_backup.sql

.vscode/*
vendor


img/app_logo.jpg
