# One of the key factors in the configuration of this .htaccess file is to prevent
#   malicient agents from probing its directory/file structure.  It does this through
#   a couple means:
#
#   - requests for directory listings are denied
#
#   - Both 404 (missing resource) and 403 (forbidden resource) errors are intercepted
#     and the redirected to the same 405.php script.  This prevents the agent from
#     being able to discern between non-existent resources and resources which exist
#     but are being hidden.
#
#   - To furthern obfuscate things, any URI that doesn't conform to the web app's API
#     will be processed through the same 405.php script.
#
#   - In both cases, the 405.php script will return with an HTTP status code of 
#     405 (method not allowed), indicating an invalid invocation of the app's API.

# Deny listing of directory contents
Options All -Indexes

# A secondary factor in the configuration of this .htaccess file is to allow
#   for this app to be installed either in the root directory of a website 
#   OR in a subdirectory named tls-ttsurvey somewhere within the website's
#   file structure.

# The goal of all of these rewrites is to funnel all URIs consistent
#   with the app's API through the tt.php script
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} (405|500).php$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [L]
RewriteRule admin/$ tt.php?admin [L]
RewriteRule preview/$ tt.php?preview [L]
RewriteCond %{REQUEST_FILENAME} \.(png|jpg|css|js)$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [L]
RewriteRule (.*) tt.php [L]
