#ttt-body div.body #participants {
  border-collapse:collapse;
  min-width:100%;
}

#ttt-body div.body div.actions {
  background:white;
  padding:8px;
  margin-bottom:8px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

  display:flex;
  flex-direction:row;
  align-items:center;
}

#ttt-body div.body div.actions button {
  appearance: none;            /* important for Safari */
  -webkit-appearance: none;

  background: #ebebeb;
  border: 1px solid black;
  border-radius: 6px;

  padding: 0 8px;
  font-size:90%;

  cursor: pointer;
}
#ttt-body div.body div.actions button:not(:disabled):hover {
  background: #f2f2f2;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.06),
    0 2px 4px rgba(0,0,0,0.10);
}
#ttt-body div.body div.actions button:not(:disabled):active {
  background: #e0e0e0;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.08) inset;
}
#ttt-body div.body div.actions button:disabled {
  border: 1px solid gray;
  cursor: default;
}


#ttt-body div.body div.actions div.reminders {
  margin-left:auto;
}

#ttt-body div.body div.actions label {
  font-weight:bold;
}

#ttt-body div.body #participants thead tr {
  border-bottom:1px solid black;
}

#ttt-body div.body #participants th {
  padding:3px 5px 0;
  vertical-align:bottom;
  text-align:left;
}

#ttt-body div.body #participants td {
  padding:3px 5px 0;
  font-size:85%;
}

#ttt-body div.body #participants th.active-survey {
  border-bottom:1px solid gray;
  text-align:center;
}

#ttt-body div.body #participants th.inactive {
  font-weight:normal;
  color:gray;
}

#ttt-body div.body #participants th.select {
  font-weight:normal;
  text-align:center;
}
#ttt-body div.body #participants td.select {
  text-align:center;
}

#ttt-body div.body #participants th.draft,
#ttt-body div.body #participants th.submitted,
#ttt-body div.body #participants th.last-survey {
  text-align:center;
}

#ttt-body div.body #participants th.active-survey,
#ttt-body div.body #participants th.draft,
#ttt-body div.body #participants th.last-survey,
#ttt-body div.body #participants td.draft,
#ttt-body div.body #participants td.last-survey {
  padding-left:15px;
}

#ttt-body div.body #participants button.pwreset {
  background: none;
  border: none;
  color: #0645AD;       /* standard link blue */
  padding: 0;
  font: inherit;        /* match surrounding text */
  cursor: pointer;
  text-decoration: underline;
}

#ttt-body div.body #participants button.pwreset:hover {
  color: #0b0080;       /* darker on hover */
  text-decoration: underline;
}

#ttt-body div.body #participants button.pwreset:focus {
  outline: 1px dotted;
  outline-offset: 2px;
}

#ttt-body div.body #participants th[data-sort]:hover {
    text-shadow: 1px 1px 2px #888, 0 0 1px #ccc;
    cursor: pointer;            /* indicate it's clickable */
}

