#ttt-body div.body {
  padding-top:3px;
}

#ttt-body div.body div.notice {
  padding-top:10px;
  padding-bottom:10px;
  font-size:110%;
}

#ttt-body div.body div.notice p {
  margin:0;
  padding:0;
}

#ttt-body form .survey-controls {
  margin-top:0;
  margin-bottom:0.5em;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#ttt-body form .survey-controls * {
  font-size:90%;
  font-weight:700;
}

#ttt-body form .survey-controls option {
  color:blue;
}

#ttt-body form .survey-controls #survey-select {
  font-size:110%;
}

#ttt-body form .survey-controls div { 
  display:inline-block;
}

#ttt-body form .survey-controls option.header { 
  font-weight:bold;
  border-bottom:solid 1px black;
}

#ttt-body form .survey-controls span.survey-status {
  font-weight:normal;
  font-size:110%;
  margin-left:0.25em;
}
#ttt-body form .survey-controls span.survey-status::first-letter {
  text-transform: capitalize;
}

#ttt-body form .survey-controls div.survey-actions {
  width:10em;
  text-align:end;
}

#ttt-body form .survey-controls a {
  color:#008;
}

#ttt-body form .survey-controls a.action.add-sep::before {
  content: " | ";
}

#ttt-body form .survey-controls a.hidden {
  display:none;
}

#ttt-body form .survey-controls a:hover {
  color:#00c;
  text-shadow:1px 1px 5px #888;
}

#ttt-body form div.content-box {
  font-size:14px;
  width:100%;
  height:calc(100vh - 300px);
  border-style:ridge;
  border-width:2px;
  padding:0.5em;
  resize:vertical;
  overflow:auto;
  display:flex;
  flex-direction:column;
}

#ttt-body form div.content-box > * {
  margin-bottom:0.5em;
}

#ttt-body form div.content-box > .left {
  align-self: flex-start;
}

#ttt-body div.body form div.submit-bar {
  overflow:none;
  transition: all 0.25s ease;
  height:2em;
}

#ttt-body div.body form div.submit-bar.hidden {
  opacity:0;
  transform: scaleY(0);
  height:0;
}

#ttt-body div.body form table {
  font-size:100%;
  margin:0.25em 1em 0 1em;
  table-layout:auto;
}

#ttt-body div.body form table td.label {
  padding-right:0.5em;
  font-weight:bold;
  white-space:nowrap;
  text-align:right;
}

#ttt-body div.body form table td input {
  width:100%;
  min-width:20em;
  background:white;
  border-color:#bbb;
  padding-left:0.5em;
  padding-right:0.5em;
}

/***************************************
 * Info Editor
 ***************************************/

#ttt-body div.body form table#info-edit tr td {
  padding: .25em;
}

#ttt-body div.body form table#info-edit div.pdf-box {
  display:flex;
  align-items:center;
}

#ttt-body div.body form table#info-edit div.pdf-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  height: 1em;
  width: 1em;
}

#ttt-body div.body form table#info-edit td.input-box {
  position:relative;
}

#ttt-body div.body form table#info-edit td div.error {
  display:none;
  color:darkred;
  background:none;
  font-style:italic;
  font-size:0.85em;
  position: absolute;
  top:2px;
  right:0.75em;
}

#ttt-body div.body form table#info-edit td select {
  margin-right:0.5em;
}

#ttt-body div.body form table#info-edit tr.disabled td.label {
  opacity:0.25;
}

#ttt-body div.body form table input[type=file] {
  background-color:inherit;
  padding:0;
  margin:0;
}

#ttt-body div.body form .info-bar {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

#ttt-body div.body form .info-bar label {
  font-weight:bold;
  margin-right:1em;
}

#ttt-body div.body form .info-bar .date {
  margin-left:0.5em;
}

#ttt-body div.body form .info-bar span.pdf-link {
  margin-left:auto;
  font-size:90%;
}

#ttt-body div.body form .info-bar a.pdf-download {
  background:inherit;
  margin-left:auto;
  color:#008;
  font-size:90%;
  font-weight:700;
  text-decoration:none;
}

#ttt-body div.body form .info-bar a.pdf-download:hover {
  color:#00c;
  text-shadow:1px 1px 5px #888;
}

/***************************************
 * Content Editor
 ***************************************/

#ttt-body #content-editor
{
  flex: 1 1 auto;
  display:flex;
  flex-direction:column;
  min-height:0;
  margin:0;
}

/***************************************
 * Content Editor Menubar
 ***************************************/

#ttt-body #content-editor div.menubar {
  background-color:#ccc;
  margin: 0.5em 0.5em 0 0.5em;;
  border: solid black 1px;
  padding 0.2em 0.5em;

  display:flex;
  flex-direction:row;
}

#ttt-body #content-editor div.menubar button {
  background-color:white;
  padding:0;
  width: 30px;
  height: 30px;
  margin: 3px 0;
}
#ttt-body #content-editor div.menubar button:disabled {
  border: 1px solid black;
  box-shadow: none;
  background-color:#ddd;
  opacity: 0.5;
  cursor: not-allowed;
}

#ttt-body #content-editor div.menubar button.up,
#ttt-body #content-editor div.menubar button.add.below,
#ttt-body #content-editor div.menubar button.delete
{
  margin-left:0.5em;
}

#ttt-body #content-editor div.menubar button.undo {
  margin-left:auto;
}

#ttt-body #content-editor div.menubar button.redo {
  margin-right:0.5em;
}

#ttt-body #content-editor div.menubar button .icon {
  width:24px;
  height:24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

#ttt-body .menubar .up                 .icon {background-image:url('../../img/icons8/up.png');}
#ttt-body .menubar .down               .icon {background-image:url('../../img/icons8/down.png');}
#ttt-body .menubar .add.section.below  .icon {background-image:url('../../img/icons8/add_list.png');}
#ttt-body .menubar .add.section.above  .icon {background-image:url('../../img/icons8/add_list_above.png');}
#ttt-body .menubar .add.question.below .icon {background-image:url('../../img/icons8/add_row.png');}
#ttt-body .menubar .add.question.above .icon {background-image:url('../../img/icons8/add_row_above.png');}
#ttt-body .menubar .add.question.clone .icon {background-image:url('../../img/tlc/duplicate_row.png');}
#ttt-body .menubar .delete             .icon {background-image:url('../../img/icons8/trash.png');}
#ttt-body .menubar .undo               .icon {background-image:url('../../img/icons8/undo.png');}
#ttt-body .menubar .redo               .icon {background-image:url('../../img/icons8/redo.png');}

/***************************************
 * Content Editor
 ***************************************/

#ttt-body #content-editor div.body {
  flex: 1 1 auto;
  padding-top:0;
  background:inherit;
  overflow:auto;
  display:flex;
  flex-direction:row;
  align-items:stretch;

  min-height:300px;
  overflow:hidden;
}

#ttt-body #survey-tree {
  width:25%;
  height:100%;
  min-height:0;
  background:#f8f8f8;
  border: 1px solid black;
  overflow-y:auto;
}

#ttt-body #content-editor div.resizer {
  width:2px;
  background:#888;
  cursor:col-resize;
}

#ttt-body #content-editor #editor-frame {
  flex:1;
  min-width:0;
  width:calc(75% - 3px);
  background:#f8f8f8;
  border: 1px solid black;
  overflow-y: auto;
}

#ttt-body #content-editor .content-header {
  font-weight:bold;
  font-size:1.1em;
  color:white;
  background-color:#888;
  margin: 2px;
  padding: 2px 0.5em;
}
#ttt-body #content-editor .hint-hint {
  float:right;
  font-size:85%;
  font-style:italic;
  color:#888;
  margin: 0 1em;
}


/***************************************
 * Survey Tree
 ***************************************/

#ttt-body #survey-tree div.info {
  font-size:85%;
  font-style:italic;
  margin-left:0.5em;
}

#ttt-body #survey-tree ul {
  padding-left:10px;
  margin-top:0;
}

#ttt-body #survey-tree ul ul {
  padding-left:20px;
}

#ttt-body #survey-tree li.section {
  list-style-type:none;
}

#ttt-body #survey-tree li.section div {
  display:flex;
  cursor:pointer;
}

#ttt-body #survey-tree li.section.selected div {
  background-color:#ffe41f;  /* from TLC logo */
}

#ttt-body #survey-tree li.child-selected div {
  background-color:#fff5b0;
}

#ttt-body #survey-tree li.question.selected {
  background-color:#ffe41f;  /* from TLC logo */
}

#ttt-body #survey-tree li.section div button.toggle {
  background:none;
  border:none;
  padding:0;
  margin:0 0.25em 0 0;
  font-size:1em;
  width:1em;
  height:auto;
  line-height:1;
}

#ttt-body #survey-tree li.section div button.toggle::before {
  content: "\25BC"; /* down arrow */
  display: inline-block;
}
#ttt-body #survey-tree li.section.closed div button.toggle::before {
  content: "\25B6"; /* right arrow */
  display: inline-block;
}

#ttt-body #survey-tree li.section div span.name {
  font-weight:bolder;
  flex-grow: 1;
  white-space:nowrap;
  overflow:hidden;
}

#ttt-body #survey-tree li.section div span.name.header {
  font-style:italic;
}

#ttt-body #survey-tree li.section.closed ul {
  display:none;
}

#ttt-body #survey-tree li.question {
  list-style-type:none;
  cursor:pointer;
  white-space:nowrap;
  overflow:hidden;
}

#ttt-body #survey-tree .incomplete {
}

#ttt-body #survey-tree li.section.needs-value div span,
#ttt-body #survey-tree li.question.needs-value,
#ttt-body #survey-tree li.question.needs-type
{
  color:#b00;
  font-style:italic;
}
#ttt-body #survey-tree li.section.needs-value span::before {
  content:"[needs name]";
}
#ttt-body #survey-tree li.question.needs-value::after {
  content:"[needs wording]";
}
#ttt-body #survey-tree li.question.info.needs-value::after {
  content:"[needs info/tag]";
}
#ttt-body #survey-tree li.question.needs-type::after {
  content:"[needs type]";
}

/*
 * Section backgrounds
 *
 * section selected,       no error no child errors => dark yellow  ffe41f
 * section selected,          error or child errors => dark pink    ffc0c0
 * section child selected, no error no child errors => light yellow fff5b0
 * section child selected,    error or child errors => light pink   ffe0e0
 * section no selection,            no child errors => none
 * section no selection,               child errors => light pink
 *   
 * Question backgrounds
 * question selected,      no errors => dark yellow
 * question selected,         errors => dark pink
 * question not selected,            => none
 */

#ttt-body #survey-tree li.section.selected div,
#ttt-body #survey-tree li.question.selected div {
  background-color:#ffe41f;  /* dark yellow */
}

#ttt-body #survey-tree li.section.selected.error div,
#ttt-body #survey-tree li.section.selected.child-error div,
#ttt-body #survey-tree li.question.selected.error div {
  background-color:#ffc0c0;  /* dark pink */
}

#ttt-body #survey-tree li.section.child-selected div {
  background-color:#fff5b0;  /* light yellow */
}

#ttt-body #survey-tree li.section.child-error div,
#ttt-body #survey-tree li.section.child-selected.error div,
#ttt-body #survey-tree li.section.child-selectedild-error div {
  background-color:#ffe0e0;  /* light pink */
}

#ttt-body #survey-tree li.section.error div,
#ttt-body #survey-tree li.question.error
{
  color:#b00; 
}

#ttt-body #survey-tree li.question::before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  margin-right:0.25em;
  vertical-align: middle;
}
#ttt-body #survey-tree li.question.info::before {
  background-image: url('../../img/icons8/paragraph.png');
}

#ttt-body #survey-tree li.question.bool::before {
  background-image: url('../../img/icons8/checked_checkbox.png');
}
#ttt-body #survey-tree li.question.select_one::before {
  background-image: url('../../img/icons8/unchecked_radio_button.png');
}
#ttt-body #survey-tree li.question.select_multi::before {
  background-image: url('../../img/icons8/multiple_choice.png');
}
#ttt-body #survey-tree li.question.freetext::before {
  background-image: url('../../img/icons8/pencil.png');
}
#ttt-body #survey-tree li.question.needs-type::before {
  background-image: url('../../img/icons8/missing.png');
}

/***************************************
 * Editor Frame (editors)
 ***************************************/

#editor-frame div.grid  {
  display:none;
  margin:2em 1em 1em 1em;
  grid-template-columns: max-content 1fr;
  grid-column-gap:0.5em;
  width: calc(100% - 2em);
  max-width: calc(100% - 2em);
}

#editor-frame div.grid.viewer  {
  grid-row-gap:0.5em;
}

#editor-frame div.grid.editor  {
  grid-row-gap:1em;
}

#editor-frame.section.locked        div.grid.section.viewer  { display:grid; }
#editor-frame.question.locked       div.grid.question.viewer { display:grid; }
#editor-frame.section:not(.locked)  div.grid.section.editor  { display:grid; }
#editor-frame.question:not(.locked) div.grid.question.editor { display:grid; }

#editor-frame .label span {
  font-weight: bold;
  float:right;
}

#editor-frame .or span {
  float:right;
}

#editor-frame .value {
  display: flex;
  align-items: center;
}

#editor-frame div.grid .note {
  color:#600;
  margin-left:1em;
}

#editor-frame div.grid .value.note {
  margin-left:0;
}

#editor-frame div.grid .note {
  color:#888;
  font-style:italic;
  margin-left:1em;
}

#editor-frame b, 
#editor-frame i {
  font-weight:revert;
  font-style:revert;
}

#editor-frame .grid.viewer .value:empty::before,
#editor-frame .grid.viewer div.text:empty::before {
  content: "— no value —";
  color: #888;
  font-style: italic;
}

#editor-frame .grid.editor div.value,
#editor-frame .grid.viewer div.value {
  display:flex;
  flex-direction:column;
  align-items:start;
}

#editor-frame .grid.editor div.value > *,
#editor-frame .grid.viewer div.value > * {
  width:100%;
}

#editor-frame .grid.editor div.hint,
#editor-frame .grid.viewer div.hint {
  display:none;
  margin:0.5em 1em;
  padding:0.5em 1em;
  border: inset 1px;
  border-radius: 5px;
  width:max(600px, 85%);
  font-size:85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editor-frame .grid.editor div.hint.hover,
#editor-frame .grid.editor div.hint.locked,
#editor-frame .grid.viewer div.hint.hover,
#editor-frame .grid.viewer div.hint.locked {
  display:block;
}

#editor-frame .grid.editor .value .wrapper {
  position:relative;
  width:75%;
  min-width:300px;
}

#editor-frame .grid.editor .value .error {
  position:absolute;
  top:0;
  right:2px;
  width:fit-content;
  font-size:80%;
  font-style:italic;
  color:darkred;
}

#editor-frame .grid.editor .value .markdown-findings
{
  display:none;
  margin:0 1em;
  padding:3px 1em;
  border: solid 0.5px;
  border-radius: 5px;
  border-color:darkred;
  width:95%;
  background:#fdd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:darkred;
}

#editor-frame .grid.editor .value .textarea-wrapper .error,
#editor-frame .grid.editor .options.value .error
{
  margin:1px 1px 0 0;
}

#editor-frame .grid.editor .options.tight,
#editor-frame .grid.editor .option.pool.tight {
  margin-top:-10px;
}

#editor-frame .grid.editor ul.options,
#editor-frame .grid.viewer ul.options {
  margin:0;
  list-style-type:none;
  padding:0;
}

#editor-frame .grid.editor .hint p,
#editor-frame .grid.viewer .hint p {
  margin:0 0 0 2em;
}

#editor-frame .grid.editor .hint p.viewer-only,
#editor-frame .grid.viewer .hint p.editor-only {
  display:none;
}

#editor-frame .grid.editor .hint p:first-child,
#editor-frame .grid.viewer .hint p:first-child {
  margin-top:0.25em;
}

#editor-frame .grid.editor div.value input {
  background:white;
  width:100%;
}

#editor-frame .grid.editor .textarea-wrapper {
  position:relative;
  width:100%;
  min-width:300px;
}

#editor-frame .grid.editor div.value textarea {
  resize: vertical;
  background:white;
  width:100%;
}

#editor-frame .grid.editor div.value textarea.auto-resize {
  resize: none;
  overflow-y: hidden;
  height: auto;
  min-height: 1.5em;
}

#editor-frame .grid.editor div.value select {
  background:white;
  width:fit-content;
}

#editor-frame .grid.editor div.value .textarea-wrapper .char-count {
  position:absolute;
  right:10px;
  bottom:5px;
  background:none;
  color:green;
  font-size:85%;
  font-style:italic;
}

#editor-frame .grid.editor div.value .textarea-wrapper .markdown-status {
  display:none;
  position:absolute;
  right:0.75em;
  top:2px;
  background:white;
  color:orange;
  font-size:0.85em;
  font-style:italic;
  font-weight:700;
}

#editor-frame .grid.editor div.value .textarea-wrapper .char-count.warning {
  color:orange;
}
#editor-frame .grid.editor div.value .textarea-wrapper .char-count.danger {
  color:red;
}

#editor-frame .grid.editor div.options.value {
  position:relative;
}

#editor-frame .grid.editor div.option.selected {
  min-height: 2em;
  background: white;
  border: solid 1px darkgray;
}

#editor-frame .grid.editor div.option.pool {
  min-height:2em;
}

#editor-frame .grid.editor .option.pool,
#editor-frame .grid.editor .option.selected
{
  display:flex;
  flex-direction:row;
  padding: 2px 0.5em;
  column-gap: 2px;
  align-items:center;
}

#editor-frame .grid.editor .option div.chip {
  background: white;
  border: solid 1px black;
  width: fit-content;
  height: fit-content;
  padding: 0 3px;
  font-size: 90%;
  border-radius: 5px;
  position:relative;
}

#editor-frame .grid.editor .option .chip button {
  border :none;
  padding: 0;
  margin-left: 4px;
  position: relative;
  top: -4px;
  background:none;
}

#editor-frame .grid.editor .option.pool .chip button {
  display:none;
}

#editor-frame .grid.editor .option.pool button.add.option {
  padding: 0;
  width:1.25em;
  height:1.25em;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:8px;
}
